.hero {
    height: 310px;
    width: 100%;
    background-image: url(/assets/images/Avengers.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    font-size: 40px;
    font-family: 'Bangers', cursive;
    color: rgb(245, 244, 243);
}

.history-button {
    margin: 5px;
}