.history-button {
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}

#clear-history {
    margin: 5px;
}

.history-display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}

.hidden-button {
    display: none !important;
}

.visible-button {
    display: flex !important;
}
